
@font-face {
    src: url("/assets/fonts/Aviny/aviny-700.woff2");
    font-family: aviny;
}
@font-face {
    src: url("/assets/fonts/iransans/IRANSansWeb(FaNum).woff2");
    font-family: iransans;
}
@font-face {
    src: url("/assets/fonts/iransans/IRANSansWeb(FaNum)_Bold.woff2");
    font-family: iransans-bold;
}
@font-face {
    src: url("/assets/fonts/iransans/IRANSansWeb(FaNum)_Light.woff2");
    font-family: iransans-light;
}
@font-face {
    src: url("/assets/fonts/iransans/IRANSansWeb(FaNum)_Medium.woff2");
    font-family: iransans-medium;
}
@font-face {
    src: url("/assets/fonts/iransans/IRANSansWeb(FaNum)_UltraLight.woff2");
    font-family: iransans-ultralight;
}
